.dot {
  width: 32px;
  height: 32px;
  cursor: pointer;
  border-radius: 50%;
  margin-right: 10px;
}

.dot:hover {
  width: 36px;
  height: 36px;
  transition: 500ms ease-out;
}

.color-a {
  background: #fbd3d3;
}

.color-b {
  background: #ffc5c5;
}

.color-c {
  background: #ecacac;
}

.color-d {
  background: #f1caa9;
}

.color-e {
  background: #c53d3d;
}




@media screen and (max-width: 600px) {
  .navbar {
    height: 80px;

    .menu {
      display: none;
      visibility: hidden;
    }
  }

  .container-detail {
    width: 100% !important;
  }

  .navbar .menu-icon {
    display: block;
    height: 30px;
    width: 30px;
    margin-right: 26px;

    img {
      height: 100%;
      object-fit: cover;
    }
  }

  .container-products {
    top: 70px;
    display: flex;
    position: relative;
    flex-direction: row;
    background: #ffffff;
    //background: #f4f4f4;
    height: calc(100% - 120px);

    section {
      width: 100%;
      padding: 26px;
    }

    aside {
      display: none;
      visibility: hidden;

    }

    .grid {
      grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)) !important;
    }

   
  }
}


.cart {
  width: 46px;
  height: 46px;
  padding: 10px;
  display: flex;
  cursor: pointer;
  font-size: 24px;
  line-height: 46px;
  position: relative;
  margin-right: 30px;
  border-radius: 32px;
  align-items: center;
  justify-content: center;
  background-color: #eaeaea;
  background-image: linear-gradient(to bottom, #f6f6f6, #eaeaea);
  box-shadow: 0 1px 1px rgba(0, 0, 0, .25), 0 2px 3px rgba(0, 0, 0, .1);

  svg {
    height: 80%;
    fill: #444;
  }

  .cant {
    color: white;
    position: absolute;
    top: -2px;
    right: -8px;
    background: #ff5858;
    font-size: 10px;
    height: 20px;
    width: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
  }
}